@import './normilize.css';
@import './colors.scss';

body {
    background-color: $color-primary-1;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

header {
    h1 {
        font-size: 1.5em;
        color: $color-primary-4;
        font-weight: bold;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 1em;
        color: $color-primary-0;
        margin-bottom: 20px;
    }
}
.theme-switch-wrapper{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
}
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
    &__label {
        margin-left: 10px;
    }
    &__checkbox {
        display: none;
    }
}
.contacts {
    margin-left: 100px;
}
.contact {
    display: flex;
    &__type {
        width: 120px;
    }
}


