@import './normilize.css';
@import './colors.scss';

body {
    background-color: $color-primary-1;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

header {
    padding-top: 30px;
    .titles-wrapper {
        float: left;
    }
    h1 {
        font-size: 1.5em;
        color: $color-primary-4;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 0;


    }
    h2 {
        font-size: 1em;
        color: $color-primary-0;
        margin-bottom: 20px;

    }
}
.theme-switch-wrapper{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
}
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
    &__label {
        margin-left: 10px;
    }
    &__checkbox {
        display: none;
    }
    .slider::before {
        content: " ";
        background-color: #fff;
        position: absolute;
        left: 4px;
        bottom: 4px;
        height: 26px;
        width: 26px;
    }
    .slider.round {
        border-radius: 34px;
        background: #aaa;
        &::before{
            border-radius: 50%;
        }
    }
    .round {
        background-color: #ccc;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
    }
}
.photo {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    border-radius: 30%;
    box-shadow: 0 0 5px 5px $color-primary-2;
}
.description {
    clear: both;
    text-align: justify;
}
.contacts {
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact {
    display: flex;
    &__type {
        width: 120px;
    }
}
a {
    text-decoration: none;
    color: $color-primary-3;
}

.experience {
    display: flex;

    &__date {
        width: 20%;
    }
    &__description {
        min-width: 80%;  
    }

    &__name {
        font-weight: bold;
        font-style: italic;
    }
}

.skills {
    color: $color-primary-3;

        h3 {
            color: $color-primary-4;
            font-size: 2em;
        }
}









@media (max-width: 600px) {
    .cv {
        padding: 10px;
        text-align: justify;
    }
    header {
        padding-top: 40px;
    }
    .theme-switch-wrapper {
        display: none;
    }
    .theme-switch__label {
        display: none;
    }
    .photo {
        position: absolute;
        right: 0;
        top: -20px;
    }
}
